--- PAGE 1 ---
REGISTRO DE REQUISITOS  
     Página 1 de 5 
PGPI   
Nombre del Proyecto  My Pet Shop  Código del Proyecto  3.09  Fecha de Elaboración  25/09/2025  
 
ID DEL 
REQUISITO  CATEGORÍA  REQUISITO  PRIORIDAD  CRITERIO DE ACEPTACIÓN  INTERESADO  
1 De producto:  
Funcional  Como usuario , quiero que la cesta de la compra este 
siempre visible para saber en todo momento qué 
productos he añadido . Must have  La cesta se muestra en todas las 
pantallas del proceso de compra 
con productos y cantidades 
actualizados . Usuarios finales  
2 De producto:  
Funcional  Como usuario , quiero poder aumentar o disminuir el 
número de unidades de un producto desde la cesta para 
ajustar mi pedi do fácilment e. Must have  
 En la cesta existen controles  
que actualizan correctamente 
las cantidades y los precios 
automáticamente . 
  Usuarios finales  
3 De producto:  
De negocio  Como cliente, quiero que  exista un catálogo organizado 
según  las categorías de las tiendas físicas para facilitar la 
búsqueda  de artículos . Should  have  El catálogo en línea cuenta con 
una organización en categorías 
que re plica a las tiendas físicas . Universidad de 
Sevilla (Cliente)  
4 De producto:  
Funcional  Como usuario , quiero que las compras se realicen en 
menos de tres pasos sin necesidad de registrarme para 
una may or facilidad y ahorrar tiempo . Should  have  
 La compra se puede completar 
en tres pantallas máximo y no 
exige un registro previo . Usuarios finales  
5 De producto:  
No funcional  Como cliente, quiero que los usuarios se sientan seguro 
durante todo el proceso de compra para que tengan 
confianza en mi web . Must have  
 El sitio garantiza una conexión 
segura . Universidad de 
Sevilla (Cliente ) -  
Usuarios finales  
6 De producto:  
No funcional  Como usuario, quiero ser atendido en español para 
entender todas las opciones . Should have  La interfaz y los mensajes de 
error están  en español . Usuarios finales  
7 De producto:  
Funcional  Como usuario, quiero poder registrarme e iniciar sesión 
usando un correo y clave para poder obtener/acceder a 
mi cuenta . Must have  
 El formulario de registro pide 
correo y contraseña 
obligatoriamente, y luego 
permite iniciar sesión  con ellos . Usuarios finales  
8 De producto:  
Funcional  Como usuario, quiero tener acceso al seguimiento de mi 
pedido,  aunque no esté  registrado para estar informado 
de mi compra . Must have  
 Existe una opción de 
seguimiento de pedido en la 
web accesible con un numero 
de pedido . Usuarios finales  

--- PAGE 2 ---
REGISTRO DE REQUISITOS  
     Página 2 de 5 
PGPI  9 De producto:   
Funcional  Como cliente, quiero que los productos agotados estén  
claramente marcados para evitar confusiones de los 
usuarios . Must have  
 En el catálogo, los productos sin 
stock se muestran claramente 
marcados, y no se permite 
añadirlos a la cesta . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
10 De producto:  
De negocio  Como cliente, quiero que cada producto disponga de 
una sola imagen para que los usuarios puedan tener una 
referencia visual . Could have  A la hora de añadir un pr oducto 
pide obligatoriamente una 
imagen, que luego se mostrará 
a los usuarios . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
11 De producto:  
Funcional  Como usuario, quiero navegar por secciones, 
departamentos o fabricantes para encontrar productos 
según el tipo de artículo . Must have  
 El catálogo incluye un menú con 
secciones, departamentos o 
fabricante . Usuarios finales  
12 De producto:  
Funcional  Como usuario, quiero poder buscar productos por su 
nombre , departamento, sección o fabricante para 
localizar lo que necesito  más fácilmente . Should have  
 La web cuenta con un buscador 
que devuelve resultados 
correctos al introducir las 
palabras clave . Usuarios finales  
13 De producto:  
Funcional  Como cliente, quiero que la barra de búsqueda se 
encuentre en la página de inicio de la web para que los 
usuarios la localicen rápidamente . Must have  
 La barra de búsqueda está 
visible en la página de inicio de 
la tienda . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
14 De producto:  
Funcional  Como usuario, quiero navegar por los productos del 
catálogo organizados por secciones, departamentos o 
fabricantes para explorar opciones.  Must have  
 El catálogo permite recorrer 
listas de productos filtrados (si 
procede) por secciones, 
departamentos o fabricantes . Usuarios finales  
15 De producto:  
Funcional  Como usuario, quiero poder enviar productos a la cesta 
desde el catálogo para planificar mi compra . Must have  
 El catálogo existe un botón con 
selector de cantidad que 
permite añadir productos a la 
cesta . Usuarios finales  
16 De producto:  
Funcional  Como usuario, quiero poder revisar el estado de la cesta 
desde el catálogo para planificar mi compra . Must  have  
 El estado de la cesta es visible y 
accesible desde el catálogo . Usuarios finales  
17 De producto:  
Funcional  Como usuario, quiero poder finalizar la compra desde la 
cesta directamente para completar mi pedido . Must have  
 Existe un botón  para finalizar la 
compra dentro de la cesta que 
redirige a los pasos para pagar . Usuarios finales  

--- PAGE 3 ---
REGISTRO DE REQUISITOS  
     Página 3 de 5 
PGPI  18 De producto:  
Funcional  Como cliente, quiero que se soliciten los datos 
personales a los usuarios durante la compra para poder 
procesar correctamente el pedido . Must have  
 Durante el procedimiento del 
pago se le piden los datos al 
cliente directamente en un 
formulario o iniciando sesión . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
19 De producto:  
Funcional  Como cliente, quiero que se soliciten los datos de 
entrega/envío a los usuarios para poder procesar 
correctamente el pedido . Must have  
 Durante el procedimiento de 
pago el usuario deberá rellenar 
un formulario con sus datos de 
entrega/envío . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
20 De producto:  
Funcional  Como cliente, quiero que se soliciten los datos de pago a 
los usuarios para poder procesar correctamente el 
pedido . Must have  
 Durante el procedimiento de 
pago el usuario deberá rellenar 
un formulario con sus datos de 
pago . El sistema permite 
ingresar método de pago válido . Universidad de 
Sevilla (cliente)  - 
Usuarios finales  
21 De producto:  
Funcional  Como usuario, quiero recibir un correo con los datos de 
mi compra para poder visualizar lo que acabo de 
comprar . Must have  
 Después de la compra, al 
comprador le deberá de llegar 
un correo con los datos del 
producto(s), el importe y la 
dirección de entrega correctos . Usuarios finales  
22 De producto:  
De negocio  Como cliente, quiero que no se puedan hacer 
devoluciones para evitar reclamaciones posteriores . Must have  
 No se permiten hacer 
devoluciones y la política de 
devoluciones se muestra 
claramente en las condiciones 
de compra . Universidad de 
Sevilla (cliente)  
23 De producto:  
De negocio  Como cliente, quiero que la marca corporativa  de mi 
empresa se refleje claramente en la web para 
reconocerla como oficial . Could have  El sitio muestra el logo, la 
tipografía y los colores 
corporativos de la empresa 
sobre toda la web . Universidad de 
Sevilla (cliente)  
24 De producto:  
Funcional  Como usuario, quiero poder registrarme y acceder 
utilizando un correo y una clave de acceso . Must have  
 El sistema valida correo y clave 
y permite entrar a la cuenta 
registrada.  Usuarios finales  

--- PAGE 4 ---
REGISTRO DE REQUISITOS  
     Página 4 de 5 
PGPI  25 De proyecto  Como cliente, quier o tener las pre-versiones  del 
producto en algún PaaS para pruebas y evaluaciones . Must have  
 El cliente puede acceder a la 
aplicación a través de una URL 
pública.  
La aplicación desplegada es 
funcionalmente equivalente a la 
versión en desarrollo.  
 Universidad de 
Sevilla (cliente) - 
Equipo de Trabajo  
25 De proyecto  Como cliente, quiero recibir el código fuente del 
producto y las instrucciones de instalación y despliegue, 
para poder ponerlo en producción cuando lo requiera.  Must have  
 Se entrega un repositorio con el 
código fuente.  
Se entrega un 
manual/ documento con pasos 
de instalación, dependencias y 
configuración.  
 Universidad de 
Sevilla (cliente)  
26 De proyecto  Como consultara, quiero que el proyecto tenga un ciclo 
de vida híbrido, para asegurar un balance entre 
planificación y adaptabilidad . Must have  
  
El plan de proyecto incluye fases 
definidas (tradicional) y sprints 
iterativos (ágil).  
Se evidencia en documentación 
de gestión el uso de la 
metodología híbrida.  
 Equipo de Trabajo  
27 De proyecto  Como consultara, quiero que se utilicen las plantillas de 
mi organización para mantener consistencia en la 
documentación y entregables.  Must have  
 Todos los documentos del 
proyecto usan las plantillas 
institucionales.  Equipo de Trabajo  
29 De proyecto  Como consultora, quiero que las tecnologías y 
herramientas a usar sean Django y VSCode para 
asegurar alineación con las herramientas definidas p or Must have  El repositorio de código usa 
Django como  framework Equipo de Trabajo  

--- PAGE 5 ---
REGISTRO DE REQUISITOS  
     Página 5 de 5 
PGPI  la organización .  principal.  
Se evidencia que la 
configuración del proyecto es 
compatible con Visual Studio 
Code.  
 
30 De proyecto  Como consultora, quiero que se use la aplicación Django 
Admin  únicamente durante la etapa de desarrollo y 
pruebas, para facilitar validaciones internas sin exponer 
esta herramienta en producción.  
 Must have  
 El acceso al Django Admin está 
deshabilitado en el entorno de 
producción.  Equipo de Trabajo  
 