{% extends "base.html" %}
{% block content %}

<div class="container py-5">

    <div class="text-center mb-4">
        <h1 class="fw-bold">Contacto</h1>
        <p class="text-muted">Estamos aquí para ayudarte. Escríbenos y te responderemos lo antes posible.</p>
    </div>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}


    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-lg p-4">
                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" name="nombre" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mensaje</label>
                        <textarea name="mensaje" class="form-control" rows="5" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2">
                        Enviar mensaje
                    </button>

                </form>
            </div>

        </div>
    </div>

</div>

{% endblock %}
